.tableContainer {
  width: 1739px;
  margin: 0 auto;
  background-color : #FCFBFC
}

.columnName {
  list-style-type: none;
  padding: 16px 50px;
  display: grid;
  grid-template-columns: repeat(7,1fr);
}

.columnName p {
  color: #a9b1c3;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.09px;
}
